!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mathematical equations
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive-bootstrap@2.2.0/dist/unobtrusive-bootstrap.min.js"}
    %link{:href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/stylesheets/style.css", :rel => "stylesheet"}/
    %meta{:charset => "utf-8"}/
  %body
    .jumbotron.text-center
      %h1 Do you need help?
      %p Choose the type of equation, enter the data and click on the button, the results will appear on the page!
    %form#frm1
      %p
        %b Select the equation you want to solve:
      %p
        %input#linear{:name => "equation", :type => "radio", :value => "1"}/
        Linear
        %br/
        %input#quadratic{:name => "equation", :type => "radio", :value => "0"}/
        Quadratic
        %br/
      %p
        Enter your equation
        %form#form_linear{:style => "margin-left: 50px;"}
      %h4
        %span.letter a∙x + b = c
      = succeed "x+" do
        %input#fieldfirstterm.left{name: "first_term", maxlength: "20", size: 10 }/
      %input#fieldsecondterm.left{name: "second_term", maxlength: "20", size: 10 }/
      \= 0
      %br/
      %br/
      %button.btn.btn-outline-primary{:type => "submit"}
        Answer
      %br/
      %br/
      %input#fieldanswerlinear.left{name: "answer_for_lin", maxlength: "25", size: 25, value: ""}/

    %footer by Alena Zubritskaya
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %script{:src => "/assets/javascripts/index.js"}
